<div class="mdl-grid demo-content">
    <div class="demo-card mdl-shadow--2dp abt-card color2">                  
            <h5>Introduction</h5>
            <p>The JNV Sitamarhi Alumni Association is an online network of Alumni of JNV Sitamarhi Bihar. This association serves to enrich the alumni experience and foster benificial relationships in the Jawahar Navodaya Vidyalaya community. The motive of this association is to create a network ensuring development of JNV students and alumni leading to overall development of alma matter by providing necessary resources, guidances, motivations and financial help in their area of interest. Join us on social networks to get connected to other alumni, access the wealth of benifits, and turn on the power of your alumni membership.</p>                
    </div>
</div>
<div class="mdl-grid demo-content">
    <div class="demo-card mdl-shadow--2dp abt-card color3">                  
            <h5>What this Alumni Association do ?</h5>
            <ul>
                <li>Career counselling and academic suggestions to students and alumni of JNV Sitamarhi.</li>
                <li>Possible financial help to alumni or students for their academic career.</li>
                <li>Link up all alumni for the best of their professional careers.</li>
                <li>Share educational guidelines and information among all alumni and students.</li>
            </ul>                
    </div>
</div>
<div class="mdl-grid demo-content">
    <div class="demo-card mdl-shadow--2dp abt-card color4">                  
            <h5>Who are the members and who coordinate this association ?</h5>
            <p>Members of this alumni association are the alumni of Jawahar Navodaya Vidyalaya Sitamarhi (Bihar). Members are well connected with each other on different social networking websites specially on Facebook. Seniors and active members coordinate this Alumni Association. The coordination includes the proper functioning of Alumni Association at the Internet as well as at the school level activities conducted by Alumni like Annual Alumni Meet. The first Alumni Meet was started in December 2006 by senior batches Alumni.</p>             
    </div>
</div>