<div ng-controller="BlogCtrl">
    <div class="mdl-grid demo-content collections">
        <div id="divPost" class="demo-card mdl-shadow--2dp abt-card">
            <div class="post-card">
                <h5>Notifications</h5>
                <ul style="list-style: none;">
                    <li ng-repeat="i in posts"><i class="mdl-color-text--blue-grey-400 material-icons mdl">link</i>&nbsp;<a href="{{i.link}}">{{i.title}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>