<div class="mdl-grid demo-content">
    <div class="demo-card mdl-shadow--2dp abt-card color5">
        <h5>© JNV Sitamarhi Alumni Association</h5>
        <p>
                All the content of this website is copyright to JNV Sitamarhi Alumni Association. Content of this website must not be copied / regenereated elsewhere without the written / electronically written permission of JNV Sitamarhi Alumni Association.
        </p>
        <p>
            <b>Proudly made with <span style="color: red; font-size: 20px;">&hearts;</span> in India.</b><br>
            Developed by : <a href="//web.bipul.in" target="_blank">Bipul Raman</a> 
        </p>
    </div>
</div>
