<div ng-controller="MediaCtrl">
    <div class="mdl-grid demo-content collections">
        <div class="demo-card mdl-shadow--2dp abt-card color1">
            <h5>Photo Albums</h5>
            <ul>
                <li><i class="mdl-color-text--blue-grey-400 material-icons mdl">camera_alt</i>&nbsp;
                    <a href="https://goo.gl/photos/62uqiFPkPYRrejCK6" target="_blank">JNVS Campus</a>
                </li>
                <li><i class="mdl-color-text--blue-grey-400 material-icons mdl">camera_alt</i>&nbsp;
                    <a href="https://goo.gl/photos/iDWQwzcuEkR1j1ns5" target="_blank">Memorable Photos</a>
                </li>
                <li><i class="mdl-color-text--blue-grey-400 material-icons mdl">camera_alt</i>&nbsp;
                    <a href="https://goo.gl/photos/ojYLZ3RhJaEHqZWk6" target="_blank">Holi at JNV Sitamarhi</a>
                </li>
                <li><i class="mdl-color-text--blue-grey-400 material-icons mdl">camera_alt</i>&nbsp;
                    <a href="https://goo.gl/photos/RzKwEKpcxHjnvvEv6" target="_blank">JNVS Alumni Meet Dec-2009</a>
                </li>
                <li><i class="mdl-color-text--blue-grey-400 material-icons mdl">camera_alt</i>&nbsp;
                    <a href="https://goo.gl/photos/HUu5unbo2V65VjDS9" target="_blank">JNVS Alumni Meet July-2011</a>
                </li>
                <li><i class="mdl-color-text--blue-grey-400 material-icons mdl">camera_alt</i>&nbsp;
                    <a href="https://goo.gl/photos/zr3fg7dmwToaLbuq8" target="_blank">JNVS Alumni Meet July-2013</a>
                </li>
                <li><i class="mdl-color-text--blue-grey-400 material-icons mdl">camera_alt</i>&nbsp;
                    <a href="https://goo.gl/photos/bcn64bW8SeerpDiA9" target="_blank">Saraswati Pooja 2014</a>
                </li>
                <li><i class="mdl-color-text--blue-grey-400 material-icons mdl">camera_alt</i>&nbsp;
                    <a href="https://goo.gl/photos/ArPDZJPvheUsZw1r7" target="_blank">JNVS Alumni Meet Jan-2016</a>
                </li>
            </ul>
        </div>
    </div>
</div>