<div class="mdl-grid demo-content">
    <div class="demo-card mdl-shadow--2dp abt-card color4">                  
            <h5>JNVSAA WhatsApp Group</h5>
            <h6>Code of Conduct for Alumni Association Formal WhatsApp Group</h6>
            <p>Below set of rules are applicable for all the posts / contents posted into Alumni WhatsApp Group</p>
            <ol>
                <li>Of course everything about JNV</li>
                <li>Guidelines related to career</li>
                <li>Achievements of our alumni</li>
                <li>Important news/events related to alumni like marriage, job or other</li>
                <li>Posts related to recruitments, vacancies</li> 
                <li>Donation to Alumni Funds</li>
                <li>Posts related to genuine helps to students or alumni</li>
                <li>Creativities of our students and alumni</li>
                <li>Wish message only on the specified date of calendar, not advance wishes</li>
                <li>Based on the intensity of irrelevent post, a member can be warned or removed</li>
            </ol>   
    </div>
</div>