<div>    
    <h5>Education Loan</h5>

    <h6>In The News</h6>
    <p>
        Let's know the current market scenario of the education loan in India from the headlines of Newspapers:
        <ui>
            <li>
                Rising NPAs in Education loan add to Banks' stress. Courtesy: EconomicTimes.com, date: 24-12-2017, 12:14 PM
            </li>
            <li>
                Banks see higher NPAs in education loans category. courtesy: Financialexpress.com, date: 23-01-2018, 05:55 AM.
            </li>
        </ui>
    </p>

    <h6>Mathematics Olympiad</h6>
    <p>
        Here is the website of an NGO (Science Olympiad Foundation) devoted to promotion of school education in India. They organize
        Mathematics Olympiad starting from class 2 to class 12. The official mathematical Olympiad is organized by NBHM (National
        Board of Higher Mathematics) which included syllabus from class 9 to class 12 (NCERT) with sophisticated complications
        in problems requiring smart application of concepts.
    </p>
    <h6>Websites</h6>
    <ul>
        <li>Science Olympiad Foundation http://www.sofworld.org/</li>
        <li>National Board of Higher Mathematics http://www.nbhm.dae.gov.in/</li>
        <li>NBHM also provides various kind of funding to smart students. Just visit their websites for more information.</li>
    </ul>

    <h6>Mathematics as a subject</h6>
    <p>
        Math can be described as the language of science. Any research industry cannot function without a mathematical expert in
        its research team. Basically, maths based career can be divided in two broad categories.
    </p>
    <ol>
        <li>Pure mathematicians</li>
        <li>Applied mathematicians</li>
    </ol>
    <p>
        Pure mathematics consists of abstract topics from core mathematical field. It includes Algebra, Analysis, Geometry (Algebraic,
        Differential), Topology, Representation Theory, Quantum Mechanics, Partial Differential Equations, String Theory
        etc. These domain of mathematical fields are used in solving higher level problems from arising from other areas
        of scientific studies like Physics, Computer Science, Chemistry. Some problems and their relevance is day-to-day
        life are so complex that it cannot be explained to an undergraduate student.<br /> Applied mathematics deals
        with day to day problem faced by computer scientists, biotechnologist, demographer, economists, chemists and physicists.
        These fields covers Linear Algebra, Analysis, Differential Equations, Graph Theory, Probability Theory and Stochastic
        Processes.
    </p>

    <h6>Statistics can be another option :</h6>
    <p>
        A slightly different field of applied area is known as Statistics. It involves understanding a population by analyzing a
        small sample(part of population). It is comparatively new field in comparison to mathematics broadly developed by
        researchers from different domain. Statisticians are highly valued in the job market and get handsome salary as compensation.
    </p>
    <h6>Future scopes</h6>
    <p>
        If you want a satisfying research career with sixth sense analytical skill, go for pure mathematics. We want to make you
        cautious at this point that it’s a comparatively difficult field than other scientific domain and harder to understand.
        If you have great motivation to do mathematics and establish yourself as a researcher, go for it. <br />        Second one is relatively easier and has a great demand in market. If you want to earn money as much as an MBA, go
        for second one. You can do higher studies in various fields Physics, Economics and Computer science apart from core
        mathematics and statistics. You can also join job market right after your Bachelor or Masters.
    </p>

    <h6>Workload</h6>
    <p>
        It is more intense and needs your attention than an engineering course. Many students who left their engineering and joined
        such programs in past; has confirmed that it is more demanding than their previous engineering courses.
    </p>

    <h6>Indian Institute providing quality education in this area</h6>
    <p>
        Here are some institutes which can be an ideal starting place for your mathematical career. Interestingly, most of them provide
        adequate scholarships, so financing your Bachelor/master's education will not be a burden to your parents. They organize
        entrace test which can be tracked through major national daily or directly from their website.
    </p>
    <ol>
        <li>Indian Institute of Science (4 yr) Link: http://www.iisc.ernet.in/ug/</li>
        <li>Indian Statistical Institute (3+2 yr) Link: http://www.isical.ac.in/academicprogramme.php</li>
        <li>Chennai Mathematical Institute Link: http://www.cmi.ac.in/admissions/</li>
        <li>Institute of Mathematics and Applications Link: http://www.iomaorissa.ac.in/ </li>
        <li>In Public universities, these courses are available at nominal fee.</li>
        <li>Public universities like Delhi University, Patna University, Mumbai university, Banaras Hindu University, Jamia Millia
            Islamiya, Aligarh Muslim University…</li>
    </ol>

    <h6>References</h6>
    <p>
        Things are taken from various websites and can be distributed freely. For more information and discussion; please contact
        the author or administrator of this web-page.
    </p>

    <hr />
    <h6>About Author:</h6>
    <p>
        This article has been written by Kumar Kamlesh (2nd Batch). He is an alumnus of Indian Statistical Institute Bangalore and
        currently working as Senior Decision Analyst in London (UK).
    </p>
</div>
